.voter-title {
  background-color: #95a3c0;
  color: #282c34;
  min-height: 3.5vh;
  margin-top: 0px;
  padding-top: 1vh;
  font-size: calc(4px + 2vmin);
}

.voter-body {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 15px;
}

.voter-label {
  display: inline-block;
  width: 150px;
}